/* element { CSSproperty: CSSvalue;} */
/* .className {CSSproperty: CSSvalue;} */
/* #id {CSSproperty: CSSvalue;} */

body {
  background-color: #fff7ef;
  /* colors: #FFFFFF (hex code), rgba(xx, xx, yy, yy) */
  /* rgba - red, green, blue, alpha (opacity) */
}

header {
  display: flex;
  justify-content: space-between;
}

h1 {
  font-size: 50px;
}

nav {
  width: 50%;
  padding-top: 8px;
}

nav ul {
  display: flex;
  justify-content: space-between;
  padding: 0;
}

nav ul li {
  list-style: none;
  display: inline;
}

nav ul li a {
  text-decoration: none;
  color: grey;
}

main ul li {
  list-style: none;
}

main ul {
  padding-left: 0;
  display: flex;
  width: 60%;
  height: 100%;
  flex-direction: column;
}

main ul li {
  padding-bottom: 1.5em;
}
